.top {
    width: 1103px;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    color: white;
    font-size: 48px;
}

.filter {
    border: none;
    background-color: #d9d9d9b5;
    width: 161px;
    height: 45px;
    display: flex;
}

.filter p {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 11px;
}

.filter img {
    width: 32px;
    height: 32px;
    margin-top: 7px;
    margin-left: 23px;
}